# Ignore files in a folder
# FOLDER_NAME/*
# Keep the folder itself
# !FOLDER_NAME/.gitkeep

# Authorization/Secrets folder
auth/*
!auth/.gitkeep
!auth/*.example.txt

# Configurations folder
cfg/*
!cfg/.gitkeep
!cfg/*.example.yml

# Data folder
data/*
!data/.gitkeep

# Docs folder
# docs/*
# !docs/.gitkeep

# Files folder
files/*
!files/.gitkeep

# Logs folder
logs/*
!logs/.gitkeep

# Temporary files folder
tmp/*
!tmp/.gitkeep
